<!DOCTYPE html>
<html lang="ko">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:image" content="{% static 'img/ogimage.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/intromsg.css' %}">
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">
    <script src="{% static 'js/intro.js' %}">
    <script src="{% static 'js/disable.js' %}"></script>
    <title>sangsang BUILD</title>

</head>
<body>
<div class="wrapper">
    <div class="header">
        {% include 'templates/header.html' %}
        {% block content %}
            </div>
            <div class="content">
                <div class="intro_msgintro_msg">
                    <div class="content_text">
                        <h3>(주)상상빌드를 방문해 주셔서 감사합니다.</h3>
                        <p class="first_msg">안녕하십니까!</p>
                        <p>상상빌드에 방문해 주셔서 감사합니다.</p>
                        <p>저희 상상빌드는 드론 기술을 바탕으로 교량을 비롯한 다양한 사회기반시설물의 안전점검을 전문으로 수행하는 기업입니다.</p>
                        <p>우리는 풍부한 경험과 최신 기술을 결합하여 고객 여러분께 신뢰할 수 있는 안전 점검 서비스를 제공하고 있습니다.</p>
                        <p>미래의 안전을 책임진다는 사명 아래, 혁신적인 기술력과 지속적인 연구개발을 통해 보다 나은 점검 솔루션을 제공하는 데 최선을 다하고 있습니다.</p>
                        <p>또한, 환경과 사회의 지속가능성을 고려한 서비스를 제공함으로써 안전한 사회 기반을 구축하는 데 기여하고자 합니다.</p>
                        <p>앞으로도 상상빌드는 고객님의 신뢰를 바탕으로 사회적 책임을 다하며, 최고의 품질과 경쟁력 있는 가격으로 안전점검 서비스를 제공하겠습니다.</p>
                        <p>여러분의 지속적인 관심과 성원을 부탁드립니다.</p>
                        <p>감사합니다.</p>
                        </p>
                        <p class="last_msg">상상빌드 임직원 일동</p>
                    </div>
                    <div class="cotent_img">
                        <img src="{% static 'img/intromsg_img.png' %}">
                    </div>
                </div>
                <div class="history">
                    <div class="tothree">
                        <img class="cheack_img" src="{% static 'img/cheack.png' %}" alt="check icon">
                        <div class="years_ch">
                            <div class="years">2023년</div>
                        </div>
                        <div class="year_text">
                            <div class="explanation">
                                <p class="dot">●</p>
                                <p class="ex_text">‘울진 청량초등학교 건물 해체공사’을 위한 안전점검</p>
                            </div>
                            <div class="explanation">
                                <p class="dot">●</p>
                                <p class="ex_text">'제주 납읍초등학교 건물 해체공사'을 위한 안점점검</p>
                            </div>
                            <div class="explanation">
                                <p class="dot">●</p>
                                <p class="ex_text">주택도시보증공사 '대구 인터불고 라비다 신축공사장' 안전점검</p>
                            </div>
                            <div class="explanation">
                                <p class="dot">●</p>
                                <p class="ex_text">한국도로공사 '대전 세천교' 안전점검</p>
                            </div>
                        </div>
                    </div>
                    <div class="tothree">
                        <img class="cheack_img" src="{% static 'img/cheack.png' %}" alt="check icon">
                        <div class="years_ch">
                            <div class="years">2022년</div>
                        </div>
                        <div class="year_text">
                            <div class="explanation">
                                <p class="dot">●</p>
                                <p class="ex_text">서울시립과학관 빌딩포렌식 기술로 안전성 평가​</p>
                            </div>
                            <div class="explanation">
                                <p class="dot">●</p>
                                <p class="ex_text">한국도로공사 ‘중부내륙선 교량 무차단 정밀안전점검’</p>
                            </div>
                            <div class="explanation">
                                <p class="dot">●</p>
                                <p class="ex_text">쿠팡 덕평물류센터 화재현장 실내드론 정밀안전점검</p>
                            </div>
                            <div class="explanation">
                                <p class="dot">●</p>
                                <p class="ex_text">주택도시보증공사 ‘군산 수페리체 아파트 건설현장' 안전점검</p>
                            </div>
                            <div class="explanation">
                                <p class="dot">●</p>
                                <p class="ex_text">주택도시보증공사 '제주 레이크 샤이어 사업장' 안전점검</p>
                            </div>
                            <div class="explanation">
                                <p class="dot">●</p>
                                <p class="ex_text">주택도시보증공사 '제주 레이크 샤이어 사업장' 안전점검</p>
                            </div>
                            <div class="explanation">
                                <p class="dot">●</p>
                                <p class="ex_text">1억 화소 페이로드 드론 제작</p>
                            </div>
                            <div class="explanation">
                                <p class="dot">●</p>
                                <p class="ex_text">Vision sensor을 활용한 장애물회피 드론 제작</p>
                            </div>
                        </div>
                    </div>
                    <div class="tothree">
                        <img class="cheack_img" src="{% static 'img/cheack.png' %}" alt="check icon">
                        <div class="years_ch">
                            <div class="years">2021년</div>
                        </div>
                        <div class="year_text">
                            <div class="explanation">
                                <p class="dot">●</p>
                                <p class="ex_text">‘울진 청량초등학교 건물 해체공사’을 위한 안전점검</p>
                            </div>
                            <div class="explanation">
                                <p class="dot">●</p>
                                <p class="ex_text">'제주 납읍초등학교 건물 해체공사'을 위한 안점점검</p>
                            </div>
                            <div class="explanation">
                                <p class="dot">●</p>
                                <p class="ex_text">주택도시보증공사 '대구 인터불고 라비다 신축공사장' 안전점검</p>
                            </div>
                            <div class="explanation">
                                <p class="dot">●</p>
                                <p class="ex_text">한국도로공사 '대전 세천교' 안전점검</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dron_promotion">
                    <div class="gif_area">
                        <video id="gif_img" autoplay loop muted playsinline controls="false">
                            <source src="https://storage.googleapis.com/cr-resource/image/video/sample/bgvideo-5727833.mp4"
                                    type="video/mp4">
                        </video>
                        <div class="dron_text">
                            <p class="dron_main">드론 홍보영상</p>
                        </div>
                    </div>
                </div>
                <div class="find_cop">
                    <div class="top-section">
                        <h1>오시는 길</h1>
                        <p>상상빌드를 방문해 주셔서 감사합니다</p>
                    </div>
                    <div class="bottom-section">
                        <div class="contact-info">
                            <div class="contact-details">
                                <h2>주소</h2>
                                <p>서울특별시 송파구 올림픽로32길 22-13<br>(방이동 62-12), 동도빌딩 301호</p>
                                <h2>연락처</h2>
                                <p>+82 2 419 8288<br>info@sangsangbuild.com</p>
                                <!--
                                <h2>SNS</h2>
                                <p>인스타그램 / 페이스북 / 트위터 / 블로그</p>
                                -->
                            </div>
                        </div>
                        <div class="map-section">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3164.755734836053!2d127.10630962642853!3d37.513678877156316!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357ca5740efd3749%3A0x363086c2aff0691!2z64-Z64-E67mM65Sp!5e0!3m2!1sko!2skr!4v1730877085247!5m2!1sko!2skr"
                                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                                    referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="navigation-sidebar">
                <button data-section="intro_msgintro_msg">회사 소개</button>
                <button data-section="history">연혁</button>
                <button data-section="dron_promotion">드론 홍보영상</button>
                <button data-section="find_cop">오시는 길</button>
            </div>
            <div class="footer">
        {% endblock %}
        {% include 'templates/footer.html' %}
        </div>
    </div>
</body>
</html>