* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    z-index: 105;
    position: relative;
    font-family: Arial, sans-serif;
    background-color: #000;
    height: 85px;
    padding: 24px 0 0;
    color: #fff;
    box-sizing: border-box;
}

.header_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #000;
    height: 85px; /* 헤더 높이를 85px로 설정 */
}

.header_left #hd_logo {
    height: 55px; /* 로고 크기를 조정 */
}

.header_right {
    display: flex;
    gap: 4rem;
    margin-right: 25rem;
}


.menu-item {
    position: relative;
    cursor: pointer;
}

.menu-item > h3 {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}

.menu-item:hover > h3:hover{
    text-decoration: underline;
}

.dropdown-content{
    width: 160px;
}

.dropdown-content div {
    font-size: 14px;
    padding: 10px 0;
    color: #fff;
}

.dropdown-content div:hover {
    background-color: #333; /* 드롭다운 항목에 마우스를 올리면 색 변경 */
    color: #fff;
}
.hide_link{
    display: none;
    width: 80%;
    height: 100%;
    background: #fff;
    z-index: 1000;
    position: absolute;
    flex-direction: column;
}
.hide_item{

}
.hide_item > h3,
.hide_item > a > h3{
    font-size: 33px;
    font-weight: normal;
}
