.header {
    position: fixed; /* 상단에 고정 */
    top: 0; /* 상단에서의 위치를 0으로 설정 */
    left: 0;
    width: 100%; /* 너비를 전체 화면으로 설정 */
    z-index: 105; /* 다른 요소 위에 표시되도록 설정 */
    background-color: transparent;
    transition: background-color 0.3s;
}
.header_main{
    background-color: transparent;
}
#video_play{
    width: 100%;
    height: auto;
}
.main_content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    color: black;
    text-align: center;
    background: no-repeat center/cover;
}
.section {
    width: 20%;
    border-radius: 45px;
    transition: background-color 0.3s ease;
}
.section:hover {
    background-color: rgba(0, 0, 0, 0.5); /* 투명한 검정색 배경 */
}
.section p {
    margin: 10px 0;
    font-weight: bold;
    font-size: 18px;
    color: #000;
    transition: color 0.3s ease, transform 0.3s ease; /* 글씨색과 크기 전환 효과 추가 */
}
.section:hover > p{
    color: #fff; /* 마우스 오버 시 글씨색을 흰색으로 변경 */
    transform: scale(1.1); /* 마우스 오버 시 글씨를 약간 확대 */
}
.line {
    height: 70%;
    width: 1px;
    background-color: white;
}
.more {
    color: #ddd;
    text-decoration: underline;
    cursor: pointer;
}
/* 작은 화면 (모바일) */
@media (max-width: 600px) {
  .main_content {
    flex-direction: column; /* 콘텐츠를 세로로 정렬 */
    height: auto;
  }

  .section {
    width: 50%; /* 섹션 너비를 더 크게 */
    margin-bottom: 20px; /* 섹션 간의 간격 추가 */
  }

  .line {
    display: none; /* 세로 라인 숨기기 */
  }
}

/* 중간 화면 (태블릿) */
@media (min-width: 601px) and (max-width: 1024px) {
  .main_content {
    flex-direction: column;
    height: auto;
  }

  .section {
    width: 40%;
    margin-bottom: 15px;
  }

  .line {
    display: none;
  }
}

/* 큰 화면 (데스크탑) */
@media (min-width: 1025px) {
  .main_content {
    flex-direction: row; /* 기본 가로 정렬 */
    height: 100vh;
  }

  .section {
    width: 20%; /* 기본 섹션 너비 */
  }

  .line {
    display: block; /* 라인 보이기 */
  }
}
