.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.cont_sign{
    width: 100%;
    height: 250px;
    background: skyblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 40px;
}
.cont_sign >h2{
    font-size: 40px;
    font-weight: bold;
    color: #fff;
}
.cont_sign > p{
    font-size: 25px;
    font-weight: bold;
    color: #fff;
}
.so_cont{
    width: 60%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.so_text{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 120px;
}
.so_img{
    flex: 1;
}
.so_con_box{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.so_con_box >h2{
    font-size: 25px;
    font-weight: bold;
}
.so_con_box > p{
    font-size: 18px;
}
