<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/3dmodel.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="{% static 'js/3dmodel.js' %}"></script>
    <title>sangsang BUILD</title>
</head>
<body>
    <div class="header">
        {% include 'templates/header.html' %}
        {% block content %}
    </div>
    <div class="slide-container">
    <div class="slide">
        <div class="slide-text">
            <h2>3D 스캔을 통한 정밀 데이터 수집</h2>
            <p>3D 스캔 기술은 드론에 장착된 고성능 카메라와 다양한 센서를 통해 대상 시설물의 표면과 구조를 밀리미터 단위로 정밀하게 측정하고 데이터화하는 기술입니다. 이 기술은 복잡한 구조물을 실시간으로 스캔하여 정학한 3D 데이터를 생성하는 데 중요한 역할을 합니다.</p>
            <div class="slide-icons">
                <span>×</span>
                <span>×</span>
                <span>×</span>
            </div>
        </div>
        <div class="slide-image">
            <img src="{% static 'img/dronsol1.jpg' %}" alt="Bridge Image">
        </div>
    </div>
    <div class="slide">
        <div class="slide-text">
            <h2>3D 스캔을 통한 정밀 데이터 수집</h2>
            <p>3D 스캔 기술은 드론에 장착된 고성능 카메라와 다양한 센서를 통해 대상 시설물의 표면과 구조를 밀리미터 단위로 정밀하게 측정하고 데이터화하는 기술입니다. 이 기술은 복잡한 구조물을 실시간으로 스캔하여 정학한 3D 데이터를 생성하는 데 중요한 역할을 합니다.</p>
            <div class="slide-icons">
                <span>×</span>
                <span>×</span>
                <span>×</span>
            </div>
        </div>
        <div class="slide-image">
            <img src="{% static 'img/dronsol1.jpg' %}" alt="Bridge Image">
        </div>
    </div>
</div>
    <div class="footer">
        {% endblock %}
        {% include 'templates/footer.html' %}
    </div>
</body>
</html>