<!DOCTYPE html>
<html lang="ko">
<head>
    {% load static %}
    {% load custom_filters %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/dron.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">
    <script src="{% static 'js/dron.js' %}"></script>
    <title>sangsang BUILD</title>
</head>
<body>
<div class="wrapper">
    <div class="header">
        {% include 'templates/header.html' %}
        {% block content %}
            </div>
            <div class="content">
                <div class="dron_content" style="background-image: url('{{ sol_intro.content_img.url }}') ;">
                    <div class="intro_sign">
                        <h2>{{ sol_intro.title|padd|safe }}</h2>
                        <p>{{ sol_intro.title_ex|padd|safe }}</p>
                    </div>
                </div>
                <div class="dron_main_cp">
                    {{ sol_intro.main_cp|padd|safe }}
                </div>
                <div class="dron_main_text">
                    <p>{{ sol_intro.main_text|padd|safe }}</p>
                </div>
                <div class="line">
                    <img class="lines" src="{% static 'img/line.png' %}">
                </div>
                {% for data in soldata %}
                    {% if data.type == 1 %}
                        <div class="dron_ct1">
                            <div class="dron_ct1_text">
                                <p class="dron_ct1_number">#{{ forloop.counter }}</p>
                                <h2>{{ data.title }}</h2>
                                <div class="dron_ct1_description">
                                    <p>{{ data.content_text }}</p>
                                </div>
                            </div>
                            <div class="dron_ct1_img">
                                <img src="{{ data.content_img.url }}">
                            </div>
                        </div>
                        <div class="line">
                            <img class="lines" src="{% static 'img/line2.png' %}">
                        </div>
                    {% else %}
                        <div class="dron_ct1">
                            <div class="dron_ct1_img">
                                <img src="{{ data.content_img.url }}">
                            </div>
                            <div class="dron_ct1_text">
                                <p class="dron_ct1_number">#0{{ forloop.counter }}</p>
                                <h2>{{ data.title }}</h2>
                                <div class="dron_ct1_description">
                                    <p>{{ data.content_text }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="line">
                            <img class="lines" src="{% static 'img/line2.png' %}">
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="footer">
        {% endblock %}
        {% include 'templates/footer.html' %}
        </div>
</div>
</body>
</html>