<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/solintro.css' %}">
    <script src="{% static 'js/intro.js' %}"></script>
    <title>sangsang BUILD</title>
</head>
<body>
<div class="header">
    {% include 'templates/header.html' %}
    {% block content %}
        </div>
        <div class="content">
            <div class="intro-icons">
                <div class="intro-icon">
                    {% for item in sol %}
                        <div class="intro_bg">
                            <p><a href="{% url 'sol_page' item.pk %}">{{ item.title }}</a></p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="footer">
    {% endblock %}
    {% include 'templates/footer.html' %}
    </div>
</body>
</html>