/* bridge.css */

/* 일반 스타일 정의 */
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.cont_sign {
    width: 100%;
    height: 250px;
    background: skyblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 40px;
}

.cont_sign > h2 {
    font-size: 40px;
    font-weight: bold;
    color: #fff;
}

.cont_sign > p {
    font-size: 25px;
    font-weight: bold;
    color: #fff;
}

.erec_content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin-bottom: 50px;
    gap: 30px;
}

.erec_text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: 90px;
}

.erec_img {
    flex: 1;
}

.erec_box {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.erec_title {
    display: flex;
}

.numbered-circle {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #555;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    margin-right: 10px;
}

.erec_title > h2 {
    font-size: 30px;
    font-weight: normal;
}

.erec_box > p {
    font-size: 18px;
}

/* 반응형 디자인 */
@media (max-width: 1024px) {
    .erec_content {
        flex-direction: column;
        width: 90%;
        gap: 20px;
    }

    .cont_sign {
        height: 250px;
        gap: 20px;
    }

    .cont_sign > h2 {
        font-size: 35px;
    }

    .cont_sign > p {
        font-size: 20px;
    }

    .erec_text {
        gap: 50px;
    }

    .erec_box > p {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .cont_sign {
        height: 200px;
        gap: 15px;
    }

    .cont_sign > h2 {
        font-size: 30px;
    }

    .cont_sign > p {
        font-size: 18px;
    }

    .erec_content {
        width: 100%;
        gap: 15px;
    }

    .erec_text {
        gap: 40px;
    }

    .erec_box {
        gap: 10px;
    }

    .erec_title > h2 {
        font-size: 25px;
    }

    .erec_box > p {
        font-size: 15px;
    }

    .numbered-circle {
        width: 25px;
        height: 25px;
        line-height: 25px;
    }
}

@media (max-width: 480px) {
    .cont_sign {
        height: 150px;
        gap: 10px;
    }

    .cont_sign > h2 {
        font-size: 25px;
    }

    .cont_sign > p {
        font-size: 16px;
    }

    .erec_content {
        width: 100%;
        gap: 10px;
    }

    .erec_text {
        gap: 30px;
    }

    .erec_box {
        gap: 5px;
    }

    .erec_title > h2 {
        font-size: 20px;
    }

    .erec_box > p {
        font-size: 14px;
    }

    .numbered-circle {
        width: 20px;
        height: 20px;
        line-height: 20px;
        font-size: 14px;
    }
}
