<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/admin_login.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/admin_login.js' %}"></script>
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>sangsang BUILD</title>
</head>
<body>
<div class="header">
    {% include 'templates/header.html' %}
    {% block content %}
        </div>
        <div class="content">
            <div class="login-container">
                <form id="login_forms" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-edits">
                        <label for="u_id">아이디</label>
                        <input type="text" name="u_id" id="u_id" placeholder="아이디">
                    </div>
                    <div class="form-edits">
                        <label for="password">비밀번호</label>
                        <input type="password" name="password" id="password" placeholder="비밀번호">
                    </div>
                    <button type="submit" class="login-button">로그인</button>
                </form>
            </div>
        </div>
        <div class="footer">
        {% include 'templates/footer.html' %}
    {% endblock %}
    </div>
</body>
</html>