<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">
    <script src="{% static 'js/disable.js' %}"></script>
    <meta property="og:image" content="{% static 'img/ogimage.png' %}">
    <title>Title</title>
</head>
<body>
    <div class="footer_main">
        <div class="ft_content">
            <div class="ft_logo">
                <a><img src="{% static 'img/footer_logo.png' %}" alt="상상빌드 로고"></a>
            </div>
            <div class="ft_intro">
                <p>(주)상상빌드  &nbsp;|&nbsp;  서울특별시 송파구 올림픽로 32길 22-13 (방이동 62-12) 동도빌딩 301호</p>
                <p>대표자 &nbsp;|&nbsp;  신동연  • 사업자등록번호  &nbsp;|&nbsp;  784-87-02368</p>
                <p>전화 &nbsp;|&nbsp; 02-419-8288  • 이메일 &nbsp;|&nbsp; info@sangsangbuild.com</p>
                <p>©THE RALEWAY ALL RIGHTS RESERVED.</p>
            </div>
        </div>
        <div class="ft_social">
            <a href="#"><img src="{% static 'img/ins1.png' %}" alt="Instagram"></a>
            <a href="#"><img src="{% static 'img/you1.png' %}" alt="YouTube"></a>
            <a href="#"><img src="{% static 'img/fb1.png' %}" alt="Facebook"></a>
        </div>
    </div>

</body>
</html>