<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:image" content="{% static 'img/ogimage.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/inquiry.css' %}">
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">
    <script src="{% static 'js/disable.js' %}"></script>
    <script src="{% static 'js/inquiry.js' %}"></script>
    <title>sangsang BUILD</title>
</head>
<body>
<div class="header">
    {% include 'templates/header.html' %}
    {% block content %}
        </div>
        <div class="content">
            <div class="contact-section">
                <div class="contact_inser">
                    <div class="contact-info">
                        <h2>Contact</h2>
                        <img src="{% static 'img/ogimage.png' %}">
                        <p>서울특별시 송파구 올림픽로 32길 22-13 (방이동 62-12) 동도빌딩 301호</p>
                        <p>+82) 2 419 8288</p>
                        <p>info@sangsangbuild.com</p>
                    </div>
                    <!--
                <div class="follow-info">
                    <h2>Follow</h2>
                    <p>인스타그램</p>
                    <p>페이스북</p>
                    <p>트위터</p>
                </div>
                -->
                </div>
                <div class="form-section">
                    <form action="#">
                        <div class="form-group">
                            <input type="text" placeholder="이름">
                        </div>
                        <div class="form-group">
                            <input type="email" placeholder="이메일 주소">
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="휴대폰 번호">
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="제목">
                        </div>
                        <div class="form-group">
                            <textarea placeholder="내용"></textarea>
                        </div>
                        <button type="submit">보내기</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="footer">
    {% endblock %}
    {% include 'templates/footer.html' %}
    </div>
</body>
</html>