<!DOCTYPE html>
<html lang="ko">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:image" content="{% static 'img/ogimage.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">
    <title>sangsang BUILD</title>
</head>
<body>
    <div class="header">
        {% include 'templates/header.html' %}
        {% block content %}
    </div>
    <div class="content">
        <div class="m_video">
            <video id="video_play" autoplay muted preload="auto">
                <source src="{% static 'img/sangsang_mg.mp4' %}" type="video/mp4">
            </video>
        </div>
        <div class="main_content">
            <div class="section">
                <p>회사소개</p>
                <p>고객에게 신뢰를 주는 기업</p>
                <p>드론 전문업체입니다.</p>
                <a href="{% url 'cop' %}"><p class="more">더보기</p></a>
            </div>
        <div class="line"></div>
            <div class="section">
                <p>상상빌드</p>
                <p>풍부한 경험과 기술을 기반으로</p>
                <p>완벽한 서비스를 제공합니다</p>
                <a href="{% url 'sol_intro' %}"><p class="more">더보기</p></a>
            </div>
        </div>
    </div>
    <div class="footer">
        {% endblock %}
        {% include 'templates/footer.html' %}
    </div>
</body>
</html>