<!DOCTYPE html>
<html lang="ko">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:image" content="{% static 'img/ogimage.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">
    <script src="{% static 'js/disable.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <title>sangsang BUILD</title>
</head>
<body>
    <div class="header">
        {% include 'header.html' %}
        {% block content %}
    </div>
    <div class="content">
        <div class="m_video">
            <video id="video_play" autoplay muted preload="auto">
                <source src="{% static 'img/sangsang_mg.mp4' %}" type="video/mp4">
            </video>
        </div>
        <div class="main_content">
            <div class="section" style="background-image: url('{% static 'img/mainbg.jpg' %}') ;">
                <p class="section_title">회사소개</p>
                <p class="section_items">고객에게 신뢰를 주는 기업</p>
                <p class="section_items">드론 전문업체입니다.</p>
                <a href="{% url 'cop' %}"><p class="more">more</p></a>
            </div>
            <div class="section" style="background-image: url('{% static 'img/sections2.jpg' %}') ;">
                <p class="section_title">솔루션</p>
                <p class="section_items">풍부한 경험과 기술을 기반으로</p>
                <p class="section_items">완벽한 서비스를 제공합니다.</p>
                <a href="{% url 'sol_intro' %}"><p class="more">more</p></a>
            </div>
            <div class="section" style="background-image: url('{% static 'img/sections3.jpg' %}') ;">
                <p class="section_title">적용분야</p>
                <p class="section_items">다년간에 걸친 노하우로</p>
                <p class="section_items">더 적확한 서비스를 제공합니다.</p>
                <a href="{% url 'app_intro' %}"><p class="more">more</p></a>
            </div>
        </div>
    </div>
    <div class="footer">
        {% endblock %}
        {% include 'footer.html' %}
    </div>
</body>
</html>