.login-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 350px;
    box-sizing: border-box;
}

.form-edits {
    margin-bottom: 20px;
}

.form-edits label {
    width: 20%;
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #666;
}

.form-edits input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

.options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.options label {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #666;
}

.options input[type="checkbox"] {
    margin-right: 5px;
}

.toggle-ip {
    font-size: 14px;
    color: #666;
}

.login-button {
    width: 100%;
    padding: 12px;
    background-color: #000;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;      /* 화면 전체 너비 */
    background-color: #000;
    padding: 10px;
    text-align: center;
}