#video_play{
    width: 100%;
    height: auto;
}
.main_content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    color: black;
    text-align: center;
    background: #555555;
}
.section {
    width: 30%;
}
.section p {
    margin: 10px 0;
}
.line {
    height: 70%;
    width: 1px;
    background-color: white;
}
.more {
    color: #ddd;
    text-decoration: underline;
    cursor: pointer;
}
/* 작은 화면 (모바일) */
@media (max-width: 600px) {
  .main_content {
    flex-direction: column; /* 콘텐츠를 세로로 정렬 */
    height: auto;
  }

  .section {
    width: 90%; /* 섹션 너비를 더 크게 */
    margin-bottom: 20px; /* 섹션 간의 간격 추가 */
  }

  .line {
    display: none; /* 세로 라인 숨기기 */
  }
}

/* 중간 화면 (태블릿) */
@media (min-width: 601px) and (max-width: 1024px) {
  .main_content {
    flex-direction: column;
    height: auto;
  }

  .section {
    width: 80%;
    margin-bottom: 15px;
  }

  .line {
    display: none;
  }
}

/* 큰 화면 (데스크탑) */
@media (min-width: 1025px) {
  .main_content {
    flex-direction: row; /* 기본 가로 정렬 */
    height: 100vh;
  }

  .section {
    width: 30%; /* 기본 섹션 너비 */
  }

  .line {
    display: block; /* 라인 보이기 */
  }
}
