<!DOCTYPE html>
<html lang="ko">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bridge.css' %}">
        <script src="{% static 'js/intro.js' %}"></script>
        <title>sangsang BUILD</title>
    </head>
    <body>
        <div class="header">
            {% include 'templates/header.html' %}
            {% block content %}
        </div>
        <div class="content">
            <div class="brid_sign">
                <div class="brid_text">
                    <div class="brid_title">
                        <h2>드론을 활용한 교량 스마트 안전점검</h2>
                    </div>
                    <div class="brid_det">
                        <p>저희 상상빌드는</p>
                        <p>드론을 기반으로 교량 등 사회기반시설물의 안전점검 서비스 업체로 </p>
                        <p>안전점검에 필요한 기술과 경험을 다량 보유하고 있어 믿고 맡길 수 있는 곳입니다.</p>
                    </div>
                </div>
            </div>
            <div class="brid_content">
                <div class="bc_img">
                    <img src="{% static 'img/bridge1.jpg' %}">
                </div>
                <div class="bc_text">
                    <div class="bc_title">
                        <h2>드론을 활용한 스마트 안전점검</h2>
                    </div>
                    <div class="bc_info">
                        <p>드론을 사용하면 작업자가 위험한 환경에 직접 들어가지 않고도 교량의 상태를 점검할 수 있습니다. 드론은 접근이 어려운 교량 하부, 높은 교각 등에서 데이터 수집이 가능하며, 고해상도의 이미지와 영상을 통해 매우 정밀한 검사가 가능합니다. 특히, 교량의 구조적 결함이나 미세한 손상까지도 탐지할 수 있어 전반적인 점검 품질을 크게 향상시킵니다.</p>
                    </div>
                    <div class="bc_detail">
                        <ul>
                            <li>안전성 강화: 작업자가 직접 고위험 지역에 접근하지 않아도 되므로 작업자의 안전을 보장할 수 있습니다.</li>
                            <li>비용 및 시간 절감: 도로 통제를 최소화하면서 작업을 수행할 수 있어 사회적 비용을 줄일 수 있습니다.</li>
                            <li>정밀한 데이터 수집: 드론은 고해상도 카메라와 센서를 통해 미세한 결함도 탐지할 수 있으며, 데이터를 실시간으로 분석하고 보고할 수 있습니다.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="brid_content">
                <div class="bc_text">
                    <h2>드론을 활용한 데이터 분석</h2>
                    <p>드론을 활용한 교량 안전 점검에서는 데이터 분석 기술이 매우 중요합니다. 드론이 수집한 고해상도 이미지를 바탕으로 구조적 손상과 결함을 찾아내는 데는 높은 수준의 분석 기술이 필요합니다. 상상빌드는 드론을 통해 수집된 데이터를 3D 모델링과 정사 영상으로 변환하여 더욱 정확한 분석을 수행합니다. 이 과정에서 미세한 균열을 탐지하고, 구조물의 손상 상태를 정밀하게 평가할 수 있습니다.</p>
                    <p>교량 정밀 안전점검은 일정한 절차에 따라 진행됩니다. 먼저, 드론이 교량의 외관과 구조를 촬영하고, 수집된 데이터를 바탕으로 3D 모델링 및 정사 영상을 생성합니다. 그런 다음, 손상 데이터를 탐지하고 이를 보고서로 작성하여 교량의 안전성을 평가합니다. 이 모든 과정은 클라우드 기반의 데이터 처리 소프트웨어를 통해 실시간으로 진행되며, 이를 통해 점검 작업의 효율성을 크게 높일 수 있습니다.</p>
                </div>
                <div class="bc_img">
                    <img src="{% static 'img/bridge2.jpg' %}">
                </div>
            </div>
            <div class="brid_content_item">
                <div class="brid_item_title">
                    <h2>교량 안전점검 서비스</h2>
                </div>
                <div class="brid_item">
                    <div class="bc_icon">
                        <img src="{% static 'img/icon1.jpg' %}">
                    </div>
                    <div class="bc_item">
                        <h2>현장 조사 및 데이터 수집</h2>
                        <p>자율비행 드론이 교량 전체를 세밀하게 스캔합니다.</p>
                    </div>
                </div>
                <div class="brid_item">
                    <div class="bc_icon">
                        <img src="{% static 'img/icon3.jpg' %}">
                    </div>
                    <div class="bc_item">
                        <h2>데이터 분석</h2>
                        <p>수집된 2D영상을 3D로 생성한 뒤 AI가 영상을 분석하여 손상 부위를 식별합니다.</p>
                    </div>
                </div>
                <div class="brid_item">
                    <div class="bc_icon">
                        <img src="{% static 'img/icon4.jpg' %}">
                    </div>
                    <div class="bc_item">
                        <h2>보고서 생성</h2>
                        <p>부재별 외관조사망도와 상세한 안전 보고서를 생성합니다.</p>
                    </div>
                </div>
                <div class="brid_item">
                    <div class="bc_icon">
                        <img src="{% static 'img/icon2.jpg' %}">
                    </div>
                    <div class="bc_item">
                        <h2>유지보수 계획</h2>
                        <p>분석 결과를 바탕으로 최적의 유지보수 전략을 수립합니다.</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="footer">
            {% endblock %}
            {% include 'templates/footer.html' %}
        </div>
    </body>
</html>