<!DOCTYPE html>
<html lang="ko">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:image" content="{% static 'img/ogimage.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/appintro.css' %}">
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">
    <script src="{% static 'js/appintro.js' %}"></script>
    <script src="{% static 'js/disable.js' %}"></script>
    <title>sangsang BUILD</title>
</head>
<body>
<div class="wrapper">
    <div class="header">
        {% include 'templates/header.html' %}
        {% block content %}
            </div>
            <div class="content">
                <div class="intro-icons">
                    <div class="intro-icon">
                        {% for item in app %}
                            <div class="intro_bg">
                                <p><a href="{% url 'app_page' item.pk %}">{{ item.title }}</a></p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="footer">
        {% endblock %}
        {% include 'templates/footer.html' %}
        </div>
    </div>
</body>
</html>